.Commu_wrap {
    width: 1000px;
    min-height: 1240px;
    padding-top: 74px;
    margin: 0 auto;
    text-align: center;

    .title_div {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 0 11px 0;
        margin-bottom: 15px;

        img {
            width: 67px;
            height: 61px;
            margin-right: 20px;
        }

        h2 {
            font-size: 42px;
            font-family: NGB;
        }

    }

    .tiq {
        font-size: 18px;
        font-family: NG;
        margin-bottom: 74px;
    }

    .contents_div {
        margin: 0px 25px;
        display: flex;
        flex-wrap: wrap;


        .contents {
            width: 160px;
            margin: 0 15px 30px;
            background-color: #fff;

            img {
                height: 160px;
            }

            .text {
                height: 90px;
                padding: 15px 10px 0 10px;
                text-align: left;

                .title {
                    font-size: 15px;
                    font-family: NGB;
                    height: 21px;
                }

                .info {
                    font-size: 12px;
                    color: #9fa1a7;
                    font-family: NG;
                    height: 21px;
                }
            }

        }
    }
}

.footer {
    padding: 50px 0;
    background-color: #fff;
    text-align: center;

    .text {
        display: flex;
        justify-content: center;
        align-items: center;

        .txt {
            color: #333;
            font-size: 13px;
            font-family: NG;
        }

        .bar {
            margin: 0 5px;
            color: #d6d6d6;
            font-size: 13px;
            font-family: NG;
        }

        .bold {
            color: #333;
            font-size: 13px;
            font-family: NGB;
        }
    }

    .logo_div {
        margin-top: 21px;
        display: flex;
        justify-content: center;

        img {
            width: 73px;
            height: 26px;
            margin-right: 5px;
        }

        p {
            height: 15px;
            font-size: 11px;
            color: #8b8b8b;
            text-align: left;
            font-weight: 300;
            font-family: NG;
        }
    }
}