.main_wrap {
    .header {
        height: 62px;
        display: flex;
        justify-content: space-between;

        .menu_div {
            display: flex;
            padding: 23px 23px 21px;

            img {
                width: 18px;
                height: 16px;
                margin-right: 11px;
            }

            p {
                font-size: 16px;
                font-family: NG;
                color: #17191d;
            }
        }

        .login_div {
            display: flex;
            padding-right: 11px;
            height: 62px;

            p {
                margin-right: 10px;
                font-size: 14px;
                font-family: NG;
                color: #17191d;
                padding: 24px 3px 0;
            }

            div {
                display: flex;
                margin: 13px 17px 13px 0;
                line-height: 0;
                font-size: 15px;
                font-family: NGB;
                color: #080410;
                padding: 7px 18px;
                align-items: center;
                justify-content: center;
                border-radius: 19px;
                border: 2px solid #17191d;
            }
        }
    }

    .swiper {
        width: 100%;
        min-height: 341.33px;
        max-height: 560px;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .contents_div {

        .contents_top {
            display: flex;
            width: 1280px;
            margin: 76px auto 0;
            justify-content: center;

            @media (max-width:1412px) {
                width: 954px;
            }

            @media (max-width:964px) {
                margin-left: 30px;
            }


            .left_div {
                p {
                    font-size: 24px;
                    font-family: NGB;
                }


                .type_div {
                    display: flex;
                    justify-content: space-between;
                    padding-top: 18px;
                    margin-bottom: 10px;

                    p {
                        font-size: 16px;
                        color: #00cec6;
                    }

                    .move {
                        display: flex;
                        margin-right: 8px;

                        div {
                            display: flex;
                            justify-content: center;
                            width: 28px;
                            height: 28px;
                            border: 1px solid #9fa1a7;

                            img {
                                margin: 5px;
                                color: #d5d5d5;
                            }
                        }
                    }
                }

                .game_div {
                    display: flex;

                    .game_contents {
                        margin-right: 8px;

                        div {
                            display: flex;
                            background-color: #00dbd3;
                            margin-left: 12px;
                            margin-top: 16px;
                            width: 32px;
                            height: 16px;
                            font-size: 10px;
                            border-radius: 20px;
                            color: #fff;
                            font-weight: 700;
                            justify-content: center;
                            align-items: center;
                        }

                        img {
                            width: 153px;
                            height: 192px;
                        }

                        p {
                            font-size: 14px;
                            font-family: NGB;
                            margin: 8px 0px 4px 12px;
                        }
                    }
                }
            }

            .popup_event {
                width: 153px;
                margin-top: 84px;

                @media (max-width:1413px) {
                    display: none;
                }
            }

            .right {
                width: 465px;

                .top {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 50px;

                    p {
                        font-family: NG;
                        font-size: 14px;
                        margin-left: 30px;
                    }
                }

                .login_div {
                    margin-top: 20px;
                    padding: 70px 0 0 58px;

                    .nexon_login {
                        color: #fff;
                        font-family: NGB;
                        font-size: 15px;
                        width: 353px;
                        height: 38px;
                        padding-top: 22px;
                        text-align: center;
                        background-color: #17191d;
                    }

                    .other {
                        display: flex;
                        margin-top: 8px;
                        width: 353px;
                        justify-content: space-between;

                        div {
                            width: 176px;
                            height: 34px;
                            background-color: #4a4e57;
                            color: #fff;
                            font-size: 14px;
                            font-family: NGB;
                            text-align: center;
                            padding-top: 18px;
                        }
                    }

                    .sns_logins {
                        display: flex;
                        width: 353px;
                        height: 32px;
                        padding-top: 10px;
                        margin-top: 20px;
                        text-align: center;
                        justify-content: center;

                        p {
                            padding-top: 3px;
                            margin-right: 15px;
                            color: #9fa1a7;
                            font-size: 12px;
                        }

                        .icon {
                            width: 22px;
                            height: 22px;
                            margin-right: 8px;
                            display: inline-block;
                            background: url(https://rs.nxfs.nexon.com/home/images/main/set_login.png) no-repeat 0 0;
                            background-size: 100px auto;
                        }

                        #google {
                            background-position: 0 -50px;
                        }

                        #facebook {
                            background-position: 0 -100px;
                        }

                        #naver {
                            background-position: 0 -150px;
                        }

                        #apple {
                            background-position: 0 -200px;
                        }
                    }

                    .find_join_div {
                        display: flex;
                        width: 353px;
                        justify-content: space-between;

                        div {
                            display: flex;
                        }

                        p {
                            padding-top: 14px;
                            color: #737881;
                            font-size: 12px;
                            margin-right: 16px;

                        }

                        .join {
                            margin-right: 0px;
                        }

                    }
                }
            }
        }

        .contents_bottom {
            width: 1280px;
            margin: 76px auto 0;
            justify-content: center;

            @media (max-width:1412px) {
                width: 954px;
            }

            @media (max-width:964px) {
                margin-left: 30px;
            }

            .contents_title_div {
                display: flex;
                justify-content: space-between;

                .left {
                    display: flex;
                    align-items: center;

                    .title {
                        font-size: 24px;
                        font-family: NGB;
                        margin-right: 10px;
                    }

                    .icon {
                        display: inline-block;
                        width: 26px;
                        height: 26px;
                        cursor: pointer;
                        background: #c7c8cc url(https://rs.nxfs.nexon.com/home/images/main/set_main.svg) no-repeat -350px 0;
                    }

                    #view {
                        background-position: 0 -400px;
                    }

                    #list {
                        background-position: 0 -450px;
                    }

                    .more {
                        margin-right: 5px;
                        font-size: 13px;
                        font-family: NGB;
                        color: #4a4e57;
                        margin-left: 10px;
                    }

                    .more_link {
                        background-position: -50px 0;
                        width: 18px;
                        height: 18px;
                        background: url(https://rs.nxfs.nexon.com/home/images/main/set_newpage.svg) no-repeat 0 0;
                        transition: all .15s linear;
                    }

                }

                .right {
                    width: 302px;
                    height: 44px;
                    padding: 0 3px;
                    margin-right: 0;
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid #dde1e5;

                    input {
                        font-size: 12px;
                        color: #222426;
                        height: 44px;
                        border: none;
                        background-color: #00000000;
                        outline: none;
                    }

                    img {
                        width: 20px;
                        height: 20px;
                        margin: 12px;
                    }
                }
            }

            .contents_type_div {
                display: grid;
                padding: 10px 30px 3px;
                margin: 29px 24px 20px 0;

                span {
                    text-align: center;
                }

                .contents_type {
                    display: inline-block;
                    margin: 0 16px 17px 0;
                    font-size: 12px;
                    height: 21px;
                    padding: 1px 10px 0;
                    color: #9fa1a7;
                    border-radius: 12px;
                }
            }

            .contents_list_div {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .contents_div {
                    height: 320px;
                    width: 302px;

                    img {
                        width: 302px;
                        height: 200px;
                    }

                    .title {
                        width: 262px;
                        padding-top: 20px;
                        margin: 0 auto;
                        font-size: 16px;
                        font-family: NGB;
                    }

                    .text {
                        padding-top: 7px;
                        color: #9fa1a7;
                        font-size: 12px;
                        width: 262px;
                        margin: 0 auto;
                    }

                    .play_type_div {
                        margin-left: 262px;
                        width: 24px;
                        height: 24px;
                        background: url(https://rs.nxfs.nexon.com/home/images/main/set_os.svg) no-repeat 0 0;
                        transition: all .15s linear;
                    }

                    #pc {
                        background-position: 0 0;

                    }

                }
            }
        }
    }

    .footer_div {
        position: relative;
        width: 100%;
        min-height: 278px;
        margin-top: 200px;
        text-align: left;
        background-color: #222426;

        .footer_top {
            display: flex;
            justify-content: space-between;
            padding: 28px 40px 28px 40px;
            border-bottom: 1px solid hsla(0, 0%, 100%, .1);

            p {
                color: #fff;
                font-weight: 700;
                font-size: 12px;
            }

            .sns_div {
                background: url(https://rs.nxfs.nexon.com/home/images/main/ico_community_youtube.svg) no-repeat;
                height: 20px;
                width: 20px;
            }
        }

        .more_page_div {
            padding: 31px 96px 0 40px;

            .more {
                padding-bottom: 14px;
                white-space: pre-wrap;
                color: rgba(248, 249, 250, .7);
                font-size: 12px;
            }
        }

        .info {
            padding: 16px 96px 0 40px;
            color: rgba(248, 249, 250, .3);
            font-size: 11px;
            line-height: 17px;
        }

        .icon {
            margin: 21px 0 0 39px;
            width: 68px;
            height: 23px;
            background: url(https://rs.nxfs.nexon.com/home/images/main/set_footer.png) no-repeat 0 0;
            padding: 21px 0 15px 39px;
        }
    }

    /* Background overlay */
    .overlay_background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        /* Adjust opacity as needed */
        z-index: 900;
        /* Behind the menu overlay */
    }

    .menu_overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 400px;
        height: 100%;
        background-color: #fff;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
        padding: 20px;
        z-index: 1000;
        overflow-y: auto;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .close_button {
        display: inline-block;
        zoom: 1;
        background: transparent url(//rs.nxfs.nexon.com/gnb/images/set_gnb.png) 0 0 no-repeat;
    }

    .close_button {
        width: 18px;
        height: 18px;
        margin-left: 3px;
        margin-top: 3px;
        background-position: 0 -50px;
        background-color: #17191d;
    }

    .menu_content {
        margin-top: 17px;
        border-top: 1px solid #dde1e5;
        padding-left: 22px;
        padding-right: 22px;
        padding-top: 25px;

        .top {
            display: flex;
            justify-content: space-between;

            a {
                display: inline-block;
                padding-top: 11px;
                font-family: NGB;
                color: #17191d;
                font-size: 12px;
                height: 20px;
                border-bottom: 2px solid #17191d;
            }

            .center {
                margin-top: 2px;
                display: flex;
                width: 76px;
                height: 28px;
                color: #9fa1a7;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                font-size: 12px;
                border: 2px solid #9fa1a7;
            }
        }

        .game_sections {
            display: flex;
            margin-top: 16px;

            .cell {
                display: inline-block;
            }

            .game_list {
                width: 178px;

                h3 {
                    color: #17191d;
                    font: 12px NGB;
                    padding-top: 24px;
                    height: 26px;
                }

                p {
                    min-height: 15px;
                    padding-bottom: 8px;
                    font-size: 12px;
                    color: #737881;
                }
            }
        }
    }

    .footer_links {
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;
        background-color: #222426;
        width: 407px;
        padding: 30px 0 0 33px;
        margin-left: -20px;
        margin-top: 20px;

        .items {
            width: 105px;
            height: 35px;
            padding-left: 15px;
            display: flex;

            .icon {
                position: relative;
                display: inline-block;
                zoom: 1;
                width: 18px;
                height: 16px;
                margin-right: 4px;
                background: transparent url(//rs.nxfs.nexon.com/gnb/images/set_service.svg) 0 0 no-repeat;
            }

            p {
                color: #fff;
                font-size: 12px;
            }

            #my {
                background-position: 0 0;
            }

            #cash {
                background-position: 0 -100px;
            }

            #safe {
                background-position: 0 -150px;
            }

            #play {
                background-position: 0 -250px;
            }

            #plug {
                background-position: 0 -400px;
            }

            #link {
                background-position: 0 -500px;
            }

            #test {
                background-position: 0 -450px;
            }

            #card {
                background-position: 0 -350px;
            }

            #create {
                position: relative;
                display: inline-block;
                zoom: 1;
                width: 18px;
                height: 16px;
                margin-right: 4px;
                background: transparent url(//rs.nxfs.nexon.com/gnb/images/img_nexoncreator.svg) 0 0 no-repeat;
            }

            #essential {
                position: relative;
                display: inline-block;
                zoom: 1;
                width: 18px;
                height: 16px;
                margin-right: 4px;
                background: transparent url(//rs.nxfs.nexon.com/gnb/images/img_essential.svg) 0 0 no-repeat;
            }

            #api {
                position: relative;
                display: inline-block;
                zoom: 1;
                width: 18px;
                height: 16px;
                margin-right: 4px;
                background: transparent url(//rs.nxfs.nexon.com/gnb/images/img_openapi.svg) 0 0 no-repeat;
            }

            #event {
                background-position: 0 -50px;
            }

        }

        
    }
    .total {
        display: flex;
        width: 440px;
        height: 50px;
        font-size: 12px;
        font-weight: 700;
        color: #fff;
        background-color: #17191d;
        margin-bottom: 20px;
        margin-left: -20px;
        align-items: center;
        justify-content: center;
    }

}

//슬라이드 이미지 3개
//background-image: url("https://rs.nxfs.nexon.com/bannerusr/24/9/VvGO30140922660.jpg");
//background-image: url("https://rs.nxfs.nexon.com/bannerusr/24/10/NzSq07190554139.png");
//background-image: url("https://rs.nxfs.nexon.com/bannerusr/24/9/THi730155209694.jpg");